{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<body>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h4 class="font-weight-bold mb-0">Document details</h4>
                    </div>
                    <div>
                        <form action="{% url 'updatedocument' doc.id %}">
                            <button type="submit" class="btn btn-outline-secondary btn-icon-text">
                               Edit
                                <i class="ti-file btn-icon-append"></i>                          
                              </button>
                            </form>
                      </div>
                  </div>
              <div class="info-grid">
                <div class="info-item">
                    <p class="label">agency name</p>
                    <p class="value">{{doc.agency_name}}</p>
                </div>
                <div class="info-item">
                    <p class="label">student namer</p>
                    <p class="value">{{doc.student_name}}</p>
                </div>
                <div class="info-item">
                    <p class="label">Mobile number</p>
                    <p class="value">{{doc.Mobilenumber}}</p>
                </div>
                <div class="info-item">
                    <p class="label">university</p>
                    <p class="value"> {{doc.university}}</p>
                </div>
                <div class="info-item">
                    <p class="label">submitting for</p>
                    <p class="value"> {{doc.submitting_for}}</p>
                </div>
                <div class="info-item">
                    <p class="label">tacking no</p>
                    <p class="value"> {{doc.tacking_no}}</p>
                </div>
                <div class="info-item">
                    <p class="label">created_date</p>
                    <p class="value">{{doc.created_date| date:"M d, Y"}}</p>
                </div>
                <div class="info-item">
                    <p class="label">comment</p>
                    <p class="value">{{doc.comment}}</p>
                </div> 
                <div class="info-item">
                    <p class="label">status</p>
                    
                   
                        
                        <button type="button" class="btn btn-outline-primary  dropdown-toggle" data-bs-toggle="dropdown">{{doc.status}}</button>
                        <div class="dropdown-menu" name="open">
                            <a href="{% url 'updateopen' doc.id %}" class="dropdown-item">Open</a>
                          <a  href="{% url 'updateprocessing' doc.id %}"class="dropdown-item" >Processing</a>
                           <a  href="{% url 'updateclosed' doc.id %}"class="dropdown-item">Closed</a>                   
                      </div>
                </div> 
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h4 class="font-weight-bold mb-0">Document Tracking</h4>
                      </div>
                      <div>
                        
                        <form action="{% url 'addevent' doc.id %}">
                        <button type="submit" class="btn btn-outline-success btn-icon-text">
                           Add
                            <i class="ti-file btn-icon-append"></i>                          
                          </button>
                        </form>
                        <br>
                      </div>
                    </div>
                {% for track in tracks %}
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <i class="ti-package icon-sd text-success" >
                        </i><span class="display-5"><b> {{track.title}}</span>
                      </div>
                      <div>
                        <form action="{% url 'updatetrackevent' track.id %}">
                        <button type="submit" class="btn btn-outline-primary btn-icon-text ">
                           Edit
                            <i class="ti-file btn-icon-append"></i>                          
                          </button>
                        </form>
                      </div>
                      
                    </div>
                         <ul class="list-ticked">
                           
                            <li class="lead">
                                {{track.date}}
                            </li>
                            {% if track.comment_1 %}
                                <li class="lead">
                                    {{track.comment_1}}
                                </li>
                            {% endif %}
                            {% if track.comment_2 %}
                            <li class="lead">
                                {{track.comment_2}}
                            </li>
                        {% endif %}
                        
                        </ul>
                            {% endfor %}
                        </div>
                        {% if tracks %}
                        <form action="{% url 'deletetrackevent' doc.id %}">
                          <button type="submit" class="btn btn-outline-danger btn-icon-text">
                             Delete
                              <i class="ti-file btn-icon-append"></i>                          
                            </button>
                          </form>
                          {% endif %}
                    </div>
                    
                </div>
            </div>
        </body>
{% endblock %}