{% extends 'navbar.html' %}
{% load static %}
{% block content %}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Arriba Dashboard</h4>
                </div>
                <div>
                  <a href="{% url 'refreshdoc' %}">
                    <button type="button" class="btn btn-dark btn-icon-text btn-rounded">
                      <i class="ti-reload btn-icon-prepend"></i>Refresh
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for count in total_count %}
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Total Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.total_doc}}</h3>
                    <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  </div>
              </div>
            </div>
            
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">opened Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.opened_doc}}</h3>
                    <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Processing Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.processing}}</h3>
                    <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                 </div>
              </div>

            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">closed Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.closed_doc}}</h3>
                    <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                 
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Top Agencies</p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Agency </th>
                          <th>total </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for agency in agencies %} 
                       <tr > 
                          <td> <a href="{% url 'docbyagency' agency.agency_name %}" >        
                            {{agency.agency_name}}              
                          </td>                     
                          </a>
                          </td>
                          <td>{{agency.total_doc}}</td>
                        </tr>            
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Top country</h4>
									
										<div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>country </th>
                            <th>total </th>
                           
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for country in country_count %}
                          <tr>
                            <td><a  href="{% url 'docbycountry' country.submitting_for %}"> {{country.submitting_for}}</a></td>
                            <td>{{country.count}}</td>
                          </tr>
                         {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
								</div>
							</div>
            </div>
         

          
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
   
     

{% endblock %}