{% extends 'navbar.html' %}
{% load static %}
{% block content %}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Arriba Trending</h4>
                </div>
                <div>
                  <a href="{% url 'refreshdoc' %}">
                    <button type="submit" class="btn-sm btn-add" >
                                        
                      <i class="ti-reload"  ></i>             
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for count in total_count %}
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Total Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.total_doc}}</h3>
                    <i class="ti-align-center icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  </div>
              </div>
            </div>
            
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">opened Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.opened_doc}}</h3>
                    <i class="ti-book icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Processing Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.processing}}</h3>
                    <i class="ti-loop icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                 </div>
              </div>

            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">closed Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{count.closed_doc}}</h3>
                    <i class="ti-stamp icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                 
                </div>
              </div>
            </div>
            {% endfor %}
          </div>



          <div>
            <h4 class="font-weight-bold mb-0">Today Trending</h4>
          </div>
          <br>
          <div class="row">
            {% for count in total_count %}
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Today recieved Documents</p>
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{todaycount}}</h3>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                  </div>  
                  </div>
              </div>
            </div>
            
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Latest Updates</p>
                  <div class="">
  
                  </div>  
                  </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Today recieved payments</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    
                  
                  </div>  
                 </div>
              </div>

            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Today closed Document</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                   
                  </div>  
                 
                </div>
              </div>
            </div>
            {% endfor %}
          </div>



          
          <div>
            <h4 class="font-weight-bold mb-0">Top Trending</h4>
          </div>
          <br>

          <div class="row">
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Total Agencies</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{agencycount}}</h3>
                  <i class="ti-world icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>  
                </div>
            </div>
          </div>
          
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Total Countries</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{countrycount}}</h3>
                  <i class="ti-map-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>  
                </div>
            </div>
          </div>
        </div>


          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Top Agencies</p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Agency </th>
                          <th>total </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for agency in agencies %} 
                       <tr > 
                          <td> <a href="{% url 'docbyagency' agency.agency_name %}" >        
                            {{agency.agency_name}}              
                          </td>                     
                          </a>
                          </td>
                          <td>{{agency.total_doc}}</td>
                        </tr>            
                       {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'topdocument' %}">
                    <button type="submit" class="btn-sm btn-del" >
                                        
                    </i> view all         
                   </button>
                  </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Top country</h4>
									
										<div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>country </th>
                            <th>total </th>
                           
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for country in country %}
                          <tr>
                            <td><a href="{% url 'docbycountry' country.country %}" >{{country.country}}</a></td>
                            <td>{{country.total_doc}}</td>
                          </tr>
                         {% endfor %}
                          
                        </tbody>
                     
                      </table>
                     
                    </div>
                    <a href="{% url 'topdocumentcountry' %}">
                    <button type="submit" class="btn-sm btn-del" >
                                        
                     </i> view all         
                    </button>
                  </a>
                  </div>
								</div>
							</div>
            </div>
         

          
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
   
     

{% endblock %}